body {
  margin: 0;
  font-family: "Roboto";
}

.Appbar {
  flex-grow: 1;
}

.Appbar h4 {
  flex: 1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.Generateid {

}

.offer-list {
  flex-grow: 1;
}

.offer-item {
  min-width: 450px;
  max-width: 450px;
  text-align: center;
}
